.projects {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.projects h2 {
  margin: 15px;
  font-size: 30px;
}

.title-projek {
  display: flex;
  width: 100%;
  position: relative;

  justify-content: space-between;
  gap: 50px;

  align-items: center;
}

.web {
  background-color: rgba(240, 248, 255, 0.384);

  font-size: 30px;
  text-align: right;

  font-weight: bold;

  padding-right: 30px;
  padding-left: 300px;

  border-radius: 0 30px 30px 0;

  color: aliceblue;
}

.iot {
  font-size: 30px;
  text-align: left;

  font-weight: bold;

  padding-left: 30px;
  padding-right: 300px;

  color: aliceblue;
  border-radius: 30px 0 0 30px;
  background-color: rgba(240, 248, 255, 0.466);
}
